In [1]:
import numpy as np
import pandas as pd

In [2]:
class Picture():
    def __init__(self):
        self.plant1 = 0
        self.plant2 = 0
        self.plant3 = 0
        self.plant4 = 0
        self.plant5 = 0
    
    def convert_numpy(self):
        return np.array(self.plant1), np.array(self.plant2), np.array(self.plant3), np.array(self.plant4), np.array(self.plant5)
    
    def sum_plants(self):
        self.plant1_total = np.sum(self.plant1)
        self.plant2_total = np.sum(self.plant2)
        self.plant3_total = np.sum(self.plant3)
        self.plant4_total = np.sum(self.plant4)
        self.plant5_total = np.sum(self.plant5)

In [3]:
img_1 = Picture()
img_2 = Picture()
img_3 = Picture()
img_4 = Picture()
img_5 = Picture()
img_6 = Picture()
img_7 = Picture()
img_8 = Picture()
img_9 = Picture()
img_10 = Picture()
img_11 = Picture()

Image 1

In [4]:
img_1.plant1 = [95.811, 15.728]
img_1.plant2 = 0
img_1.plant3 = [44.799]
img_1.plant4 = 0
img_1.plant5 = 0

img_1.plant1, img_1.plant2, img_1.plant3, img_1.plant4, img_1.plant5 = img_1.convert_numpy()

Image 2

In [5]:
img_2.plant1 = [
    140.539,
    256.397,
    100.640,
    338.225,
    314.149,
    93.213,
    180.510,
    206.823,
    183.941,
    60.385,
    14.243,
    4.414,
    77.983,
    584.701,
    152.995
]

img_2.plant2 = [
    26.071,
    307.35,
    271.338,
    41.941,
    270.439,
    32.456,
    275.836
]

img_2.plant3 = [
    53.456,
    22.071,
    123.368,
    28.213,
    23.728,
    46.012,
    277.551,
    249.451,
    67.012,
    325.919
]

img_2.plant4 = [
    95.811,
    15.728
]

img_2.plant5 = [
    17.142,
    43.527,
    299.995,
    247.669,
    56.485,
    41.799,
    39.556,
    14.071,
    705.316,
    93.125,
    252.38,
    200.38,
    125.995,
    14.485,
    6,
    254.267
]

img2_plant1, img2_plant2, img2_plant3, img2_plant4, img2_plant5 = img_2.convert_numpy()

Image 3

In [6]:
img_3.plant1 = [
    15.899,
    159.338
]

img_3.plant2 = [
    256.267,
    228.740,
    27.071,
    237.622,
    195.823,
    51.941,
    2.000,
    124.012,
    7.000,
    224.108,
    1.414
]

img_3.plant3 = [
    174.995,
    211.066,
    422.149,
    121.267
]


img_3.plant4 = [
    273.865,
    265.238,
    76.912,
    175.037
]


img_3.plant5 = [
    111.971,
    96.912,
    65.142,
    55.426,
    41.485,
    33.071,
    21.919,
    21.78,
    15.657,
    12.071,
    4.828,
    183.468,
    292.789,
    209.167,
    258.309
]


img_3.plant1, img_3.plant2, img_3.plant3, img_3.plant4, img_3.plant5 = img_3.convert_numpy()

Image 4

In [7]:
img_4.plant1 = [
    380.647,
    52.355,
    351.144
]

img_4.plant2 = [
    83.569,
    5.828,
    30.385,
    226.321,
    306.007,
    208.593,
    186.179,
    124.409,
    99.711,
    73.692,
    50.213,
    29.314,
    18.828
]

img_4.plant3 = [
    25.142,
    74.456,
    42.728,
    29.385
]

img_4.plant4 = [96.468]

img_4.plant5 = [
    19.485,
    50.184,
    123.51
]


img_4.plant1, img_4.plant2, img_4.plant3, img_4.plant4, img_4.plant5 = img_4.convert_numpy()

Image 5

In [8]:
img_5.plant1 = [
    281.877,
    43.071,
    2.414,
    98.054,
    335.818,
    299.362,
    125.397,
    71.497,
    131.309,
    24.657
]

img_5.plant2 = [
    161.551,
    113.953,
    196.397,
    104.953,
    95.669,
    94.439,
    65.789,
    43.113,
    38.071,
    27.627,
    24.971,
    20.556,
    15.071,
    9.596,
    5.828
]

img_5.plant3 = [
    380.647,
    52.355,
    351.144
]

img_5.plant4 = [
    328.049,
    95.782,
    111.024,
    2.828,
    2.414,
    271.789,
    5.828,
    1
]

img_5.plant5 = [
    351.517,
    273.794,
    91.912,
    306.635,
    194.581,
    141.894,
    121.267,
    99.355
]

img_5.plant1, img_5.plant2, img_5.plant3, img_5.plant4, img_5.plant5 = img_5.convert_numpy()

#### Image 6
###### No secondary

In [9]:
img_6.plant1, img_6.plant2, img_6.plant3, img_6.plant4, img_6.plant5 = img_6.convert_numpy()

#### Image 7
###### No secondary

In [10]:
img_7.plant1, img_7.plant2, img_7.plant3, img_7.plant4, img_7.plant5 = img_7.convert_numpy()

#### Image 8
###### No secondary

In [11]:
img_8.plant1, img_8.plant2, img_8.plant3, img_8.plant4, img_8.plant5 = img_8.convert_numpy()

Image 9

In [12]:
img_9.plant1 = [
    50.556,
    48.598,
    8.657,
    5.828,
    4.828
]

img_9.plant2 = [3.828]

img_9.plant3 = 0

img_9.plant4 = [
    90.255,
    19.142,
    67.314
]

img_9.plant5 = [40.87]

img_9.plant1, img_9.plant2, img_9.plant3, img_9.plant4, img_9.plant5 = img_9.convert_numpy()

Image 10

In [13]:
img_10.plant1 = [169.551]

img_10.plant2 = [83.711,
65.74
]

img_10.plant3 = [
    271.877,
    132.823,
    8.828,
    2.414,
    11.657,
    73.569,
    68.669,
    70.355,
    170.137
]

img_10.plant4 = [
    245.095,
    126.042,
    58.669,
    19.314,
    125.527,
    43.284,
    33.728,
    81.882,
    76.355,
    69.983,
    67.485,
    33.456,
    33.071,
    19.485,
    18.314,
    14.314,
    8.071,
    4.414,
    32.899,
    7.243,
    1,
    2,
    1,
    2,
    1,
    1,
    1,
    1,
    1,
    1,
    1
]

img_10.plant5 = [
    132.225,
    82.468,
    73.225,
    47.184,
    41.769,
    39.958,
    36.887,
    34.071,
    30.899,
    26.625,
    24.971,
    24.92,
    22.278,
    20.89,
    20.531,
    20.062,
    19.485,
    16.899,
    15.485,
    14.728,
    14.537,
    12.314,
    11.67,
    11.04,
    10.485,
    10.485,
    10.366,
    10.325,
    10.243,
    9.819,
    8.071,
    5.828,
    5.657,
    5.243,
    5.243,
    4.414,
    4.243,
    2.414,
    1,
    7.243,
    2.414,
    5.243,
    29.87,
    2,
    1,
    5.243,
    13.071,
    5,
    2,
    2.414,
    24.799,
    50.841,
    2,
    1,
    17.657,
    1,
    1,
    1,
    2,
    2,
    1,
    3,
    24.657,
    4,
    11,
    2,
    7
]


img_10.plant1, img_10.plant2, img_10.plant3, img_10.plant4, img_10.plant5 = img_10.convert_numpy()

Image 11

In [14]:
img_11.plant1 = [
    85.669,
    29.627,
    302.576,
    139.024,
    135.941,
    75.054,
    67.497,
    56.770,
    43.728,
    35.213,
    23.243,
    7.828,
    6.414,
    6.243,
    5.243,
    87.770,
    15.142,
    19.556,
    119.346,
    54.456,
    42.941,
    41.314,
    34.314,
    29.899,
    20.556,
    16.071,
    12.243,
    9.485,
    7.414,
    4.828,
    3.414
]


img_11.plant2  = [
    412.434,
    265.794,
    182.693,
    27.657,
    136.409,
    61.87,
    1.414,
    26.799,
    16.485,
    17.971,
    95.326,
    16.071,
    11.485,
    4.828,
    44.042
]

img_11.plant3 = [0]

img_11.plant4  = [
    463.576,
    689.132,
    498.902,
    344.96,
    305.38,
    255.137,
    207.669,
    204.113,
    137.581,
    136.255,
    111.012,
    108.811,
    107.681,
    99.326,
    93.669,
    92.882,
    69.527,
    66.142,
    64.385,
    62.142,
    59.314,
    58.083,
    57.485,
    57.385,
    55.971,
    50.799,
    50.627,
    47.941,
    47.142,
    46.899,
    41.314,
    36.556,
    35.657,
    32.657,
    32.314,
    30.657,
    28.556,
    28.314,
    27.657,
    26.042,
    25.971,
    25.071,
    22.243,
    22.142,
    19.728,
    16.314,
    16.243,
    15.828,
    15.314,
    15.071,
    14.899,
    13.243,
    11.828,
    11.479,
    11.243,
    11.071,
    10.893,
    10.243,
    10.243,
    9.828,
    9.828,
    8.657,
    8.243,
    7.243,
    6.414,
    6.414,
    6.243,
    5.828,
    5.828,
    5.414,
    4.243,
    3.414,
    3,
    99.255,
    38.828,
    28.799,
    1.414,
    1,
    60.255,
    2,
    84.397,
    8.828,
    1.414,
    1.414,
    27.556,
    106.669,
    90.284,
    14.243,
    62.77,
    4.414
]

img_11.plant5 = [
    37.87,
    424.167,
    244.593,
    214.882,
    176.012,
    167.095,
    158.208,
    152.409,
    134.426,
    118.267,
    117.125,
    115.255,
    109.456,
    104.822,
    97.355,
    96.556,
    93.468,
    88.456,
    86.598,
    80.799,
    77.698,
    65.941,
    62.841,
    54.485,
    47.456,
    43.981,
    38.042,
    36.792,
    31.899,
    30.213,
    26.556,
    26.314,
    26.314,
    20.314,
    19.556,
    17.964,
    17.657,
    14.899,
    12.899,
    12.899,
    12.828,
    11.657,
    10.243,
    9.828,
    9.657,
    7.893,
    7.657,
    7.657,
    7.243,
    7,
    6.02,
    6,
    5.243,
    4.828,
    4,
    16.728,
    45.527,
    65.426,
    1,
    125.782,
    102.569,
    8.657,
    11.899,
    25.971,
    6.414,
    10.071
]

img_11.plant1, img_11.plant2, img_11.plant3, img_11.plant4, img_11.plant5 = img_11.convert_numpy()

In [15]:
img_1.sum_plants()
img_2.sum_plants()
img_3.sum_plants()
img_4.sum_plants()
img_5.sum_plants()
img_6.sum_plants()
img_7.sum_plants()
img_8.sum_plants()
img_9.sum_plants()
img_10.sum_plants()
img_11.sum_plants()

In [16]:

print(img_1.plant1_total)

111.539

In [17]:
images = [img_1, img_2, img_3, img_4, img_5, img_6, img_7, img_8, img_9, img_10, img_11]

data = {}

for i, img in enumerate(images, start=1):
    for j in range(1, 6):
        plant_total = getattr(img, f'plant{j}_total')
        data[f'img_{i}_plant{j}'] = plant_total

df = pd.DataFrame(data, index=[0]).T

print(df)

                      0
img_1_plant1    111.539
img_1_plant2      0.000
img_1_plant3     44.799
img_1_plant4      0.000
img_1_plant5      0.000
img_2_plant1   2709.158
img_2_plant2   1225.431
img_2_plant3   1216.781
img_2_plant4    111.539
img_2_plant5   2412.192
img_3_plant1    175.237
img_3_plant2   1355.998
img_3_plant3    929.477
img_3_plant4    791.052
img_3_plant5   1423.995
img_4_plant1    784.146
img_4_plant2   1443.049
img_4_plant3    171.711
img_4_plant4     96.468
img_4_plant5    193.179
img_5_plant1   1413.456
img_5_plant2   1017.584
img_5_plant3    784.146
img_5_plant4    818.714
img_5_plant5   1580.955
img_6_plant1      0.000
img_6_plant2      0.000
img_6_plant3      0.000
img_6_plant4      0.000
img_6_plant5      0.000
img_7_plant1      0.000
img_7_plant2      0.000
img_7_plant3      0.000
img_7_plant4      0.000
img_7_plant5      0.000
img_8_plant1      0.000
img_8_plant2      0.000
img_8_plant3      0.000
img_8_plant4      0.000
img_8_plant5      0.000
img_9_plant1    118.467
img_9_plant2      3.828
img_9_plant3      0.000
img_9_plant4    176.711
img_9_plant5     40.870
img_10_plant1   169.551
img_10_plant2   149.451
img_10_plant3   810.329
img_10_plant4  1131.631
img_10_plant5  1130.409
img_11_plant1  1538.819
img_11_plant2  1321.278
img_11_plant3     0.000
img_11_plant4  5992.856
img_11_plant5  4040.337

In [18]:
df.to_csv('lateral_root_lengths.csv')